<div class="smol">
    <form style="
    border: 1px solid blue; padding:10px; border-radius:3%;width:500px" method="POST" action="/course/store">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="text" id="name" name="name" class="form-control" />
            <label class="form-label" for="name">Tên khóa học</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="text" id="description" name="description" class="form-control" />
            <label class="form-label" for="description">Mô tả</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="image" name="image" class="form-control" />
            <label class="form-label" for="image">Hình ảnh</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="videoId" name="videoId" class="form-control" />
            <label class="form-label" for="videoId">Video ID</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Thêm khóa học</button>
    </form>
</div>