<div class="container mt-4">
    <div class="input-group">
        <form action="" method="post">
            <div class="form-outline">
                <input type="search" id="form1" name="q" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <div class="form-outline">
                <label for="gender"></label>
                <select name="gender" id="gender">
                    <option value="">-- Chọn giới tính --</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>

        </form>
    </div>
</div>